@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Manrope:wght@200..800&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Manrope:wght@200..800&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* fonts */
  --font-manrope: 'Manrope', sans-serif;
  --font-marcellus: 'Marcellus', serif;
  --font-anektelugu: 'Anek Telugu', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-plex: 'IBM Plex Sans', sans-serif;

  /* colors */
  --color-nav: rgb(255, 249, 241);
  --button-color: rgb(84, 64, 14);
  --text-heading: rgb(138, 122, 85);
  --color-header: #6c6c6c;
  --color-main: #f5f2eb;
  --order-text: #5b5b5b;
  --order-amount: #bf9016;
  --hero-discount: #fdc432;
  --footer-text: #aeaeae;
  --footer-heading: #ebc583;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 1600;
}

header {
  background-color: var(--color-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 15rem;
  text-wrap: nowrap;
}

.logo {
  font-family: var(--font-manrope);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-right: 5rem;
}

.logo img {
  width: 65.64px;
  height: 36px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header ul li {
  margin-right: 1rem;
}

header ul li a {
  text-decoration: none;
  font-size: 15px;
  font-family: var(--font-manrope);
  color: #54400e;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav div .fa-search {
  font-size: 20px;
  margin-right: 3rem;
}

nav .span-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  visibility: hidden;
}

nav .span-div span {
  background: var(--button-color);
  width: 25px;
  height: 3px;
}

.head-btn {
  padding: 15px 30px;
  border: none;
  background-color: var(--button-color);
  border-radius: 40px;
  font-family: var(--font-manrope);
  font-size: 15px;
  color: white;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-main);
  height: 2663px;
  position: relative;
  min-width: 1600;
  padding: 0;
  margin: 0;
  padding-bottom: 7rem;
}

main img {
  width: 250px;
  position: absolute;
  top: 2px;
  left: -60px;
}

main .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 200px;
  margin-left: 5rem;
  margin-bottom: 10rem;
}

.top h1 {
  font-family: var(--font-marcellus);
  width: 433px;
  height: 80px;
  font-weight: 400;
  line-height: 81px;
  font-size: 64px;
  color: black;
}

.top p {
  font-family: var(--font-marcellus);
  font-weight: 400;
  color: var(--color-header);
  text-align: center;
  line-height: 25px;
}

.order {
  position: absolute;
  top: 375px;
  margin-top: 2rem;
  height: max-content;
}

.order-item {
  position: relative;
  min-width: 1300px;
  height: 392px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  margin: 3rem 0;
}
.order-item .order-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.order-item .order-info .item-img1 {
  background: url('../asset/Orderimg/order1.png');
  background-size: cover;
  background-position: center;
  width: 202px;
  height: 172px;
}
.order-item .order-info .item-img2 {
  background: url('../asset/Orderimg/order2.png');
  background-size: cover;
  background-position: center;
  width: 202px;
  height: 172px;
}
.order-item .order-info .item-img3 {
  background: url('../asset/Orderimg/order3.png');
  background-size: cover;
  background-position: center;
  width: 202px;
  height: 172px;
}
.order-item .order-info .item-img4 {
  background: url('../asset/Orderimg/order4.png');
  background-size: cover;
  background-position: center;
  width: 202px;
  height: 172px;
}

.item-content {
  padding-left: 10px;
}

.item-content h2 {
  font-family: var(--font-anektelugu);
  color: var(--order-text);
  font-weight: 500;
  size: 48px;
  line-height: 72px;
  width: 309px;
  height: 49px;
  font-size: 48px;
  margin-bottom: 10px;
}

.item-content p {
  width: 101px;
  height: 29px;
  opacity: 60%;
  font-family: var(--font-anektelugu);
  color: var(--order-text);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

.item-content span {
  width: 92px;
  height: 39px;
  font-family: var(--font-anektelugu);
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: var(--order-amount);
}

.item-remove {
  text-align: left;
}

.item-remove i {
  width: 32px;
  height: 32px;
  color: var(--order-text);
}

.item-remove span {
  width: 12px;
  height: 22px;
  font-size: 24px;
  font-family: var(--font-anektelugu);
  font-weight: 400;
  color: black;
  padding-right: 10px;
}

.select button {
  border: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 20px;
  right: 10px;
  color: rgb(251, 169, 187);
  font-size: 1.5rem;
  z-index: 1;
  border-radius: 50%;
}

.select .rest {
  color: var(--color-header);
}

.select span {
  position: absolute;
  top: 60px;
  right: 10px;
  padding-right: 15px;
  font-family: var(--font-anektelugu);
  font-size: 20px;
}

.payment {
  z-index: 1;
  position: relative;
  margin-top: 140rem;
  width: 1369px;
  height: 332px;
  background-color: white;
  min-width: 1600;
  padding-top: 25px;
  padding-left: 23px;
  padding-bottom: 50px;
  padding-right: 23px;
}

.payment .hero-text {
  width: 131px;
  height: 36px;
  font-family: var(--font-anektelugu);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: black;
}

.span-line {
  position: absolute;
  width: 96%;
  height: 3px;
  background: var(--color-header);
  top: 54px;
}

.payment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-right: 9px;
  margin-top: 10px;
}

.payment-content .left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: normal;
}

.payment-content .left p {
  margin: 5px 0;
  font-family: var(--font-raleway);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.payment-content .price {
  margin-top: 20px;
}

.payment-content .price .text-1 {
  font-family: var(--font-plex);
  font-weight: 600;
  color: var(--color-header);
  font-size: 16px;
  line-height: 20px;
  width: 82px;
  height: 19px;
  font-style: italic;
}

.payment-content .price .price-1 {
  font-family: var(--font-raleway);
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
  width: 96px;
  height: 28px;
}

.payment-content .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  margin-top: 15px;
}

.payment-content .right p {
  margin: 5px 0;
  font-family: var(--font-raleway);
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
}

.payment-content .order-btn {
  margin-top: 10px;
}

.payment-content .order-btn button {
  width: 136px;
  height: 56px;
  background: var(--button-color);
  font-size: 16px;
  font-weight: 600;
  color: white;
  font-family: var(--font-raleway);
}

.footer-hero {
  min-width: 1440;
  height: 591px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../asset/footer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-hero .content {
  width: 1148px;
  height: 358px;
  background: #352807;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-hero .content .img img {
  width: 341px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 7rem;
}

.footer-hero .content .word-content {
  width: 866px;
  height: 160px;
  font-family: var(--font-marcellus);
  font-weight: 400;
  padding-left: 2rem;
}

.footer-hero .content .word-content h1 {
  font-size: 64px;
  color: white;
  line-height: 81px;
  font-weight: 400;
}

.footer-hero .content .word-content h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: white;
}

.footer-hero .content .word-content span {
  color: #fdc432;
}
